@media screen and (max-width:1600px) {
	.header__menu_item a {
		font-size: 18px;
		padding: 7px 7px;
		margin-left: 10px;
	}

	.header__menu_item a:hover {
		padding: 3px 5px;
	}

	.header__menu_item a.menu_act {
		padding: 3px 5px;
	}

	.search {
		margin: 0 20px;
	}

	.search_btn {
		width: 35px;
		height: 35px;
		background-size: 35px;
	}

	.header__lang {
		top: -25px;
	}

	.main__content_item {
		width: 24%;
	}

	.main__content_header {
		font-size: 19px;
	}

	.main__content_text {
		font-size: 18px;
	}

	.footer__item {
		font-size: 15px;
	}

	.footer__contacts {
		width: 35%;
	}

	.footer__header {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 25px;
	}

	.footer__text {
		margin-bottom: 25px;
	}

	.footer__contacts_link {
		margin-left: 35px;
		margin-bottom: 50px;
	}

	.footer__contacts_link:before {
		left: -35px;
		width: 27px;
		height: 27px;
	}

	.footer__contacts_link-phone:before,
	.footer__contacts_link-email:before,
	.footer__contacts_link-address:before,
	.footer__contacts_link-phone:hover:before,
	.footer__contacts_link-email:hover:before,
	.footer__contacts_link-address:hover:before {
		background-size: 27px;
	}

	.footer .footer__social {
		margin-bottom: 50px;
	}

	.social__item_footer {
		width: 40px;
		height: 40px;
	}

	.social__item_footer:before {
		width: 40px;
		height: 40px;
	}

	.social__item_footer.social__item_telegtam:before,
	.social__item_footer.social__item_vk:before,
	.social__item_footer.social__item_tiktok:before,
	.social__item_footer.social__item_ok:before,
	.social__item_footer.social__item_youtube:before,
	.social__item_footer.social__item_dzen:before,
	.social__item_footer.social__item_telegtam:hover:before,
	.social__item_footer.social__item_vk:hover:before,
	.social__item_footer.social__item_tiktok:hover:before,
	.social__item_footer.social__item_ok:hover:before,
	.social__item_footer.social__item_youtube:hover:before,
	.social__item_footer.social__item_dzen:hover:before {
		background-size: 40px;
	}
}
@media screen and (max-width:1300px) {
	.page__header {
		padding: 18px 0;
	}

	.header__left {
		width: 200px;
	}

	.header__menu_item a {
		font-size: 14px;
		margin-left: 0px;
	}

	.header__menu_item a:hover {
		padding: 3px 5px;
	}

	.header__menu_item a.act_menu {
		padding: 3px 5px;
	}

	.search {
		margin: 0 15px;
	}

	.search_btn {
		width: 25px;
		height: 25px;
		background-size: 25px;
	}

	.modal-container {
		padding: 40px;
	}

	.search__header {
		font-size: 25px;
	}

	.search__form input {
		font-size: 15px;
		padding: 10px 15px;
		margin-right: 15px;
	}

	.search__form button {
		width: 35px;
		height: 35px;
		background-size: 35px;
	}

	.search__form button:hover {
		background-size: 35px;
	}

	.header__lang {
		top: -25px;
		right: -15px;
	}

	.header__lang a {
		font-size: 13px;
		margin: 0 2px;
	}

	.main__content_items {
		margin: 70px 0;
	}

	.main__content_item {
		width: 23%;
	}

	.main__content_block-name {
		font-size: 11px;
	}

	.main__content_block {
		margin-top: -4px;
	}

	.main__content_info {
		padding: 5px 5px 0 5px;
	}

	.main__content_header {
		font-size: 15px;
	}

	.main__content_text {
		font-size: 14px;
		margin-top: 10px;
	}

	.footer {
		padding: 70px 0 30px 0;
	}

	.footer__item {
		font-size: 12px;
	}

	.footer__contacts {
		width: 30%;
	}

	.footer__logo {
		width: 60%;
		margin-bottom: 50px;
	}

	.footer__header {
		font-size: 18px;
		margin-bottom: 25px;
	}

	.footer__text {
		margin-bottom: 20px;
	}

	.footer__contacts_link {
		margin-left: 30px;
		margin-bottom: 30px;
		max-width: 210px;
	}

	.footer__contacts_link:before {
		left: -30px;
		width: 20px;
		height: 20px;
	}

	.footer__contacts_link-phone:before,
	.footer__contacts_link-email:before,
	.footer__contacts_link-address:before,
	.footer__contacts_link-phone:hover:before,
	.footer__contacts_link-email:hover:before,
	.footer__contacts_link-address:hover:before {
		background-size: 20px;
	}

	.footer .footer__social {
		margin-bottom: 30px;
	}

	.social__item_footer {
		width: 30px;
		height: 30px;
	}

	.social__item_footer:before {
		width: 30px;
		height: 30px;
	}

	.social__item_footer.social__item_telegtam:before,
	.social__item_footer.social__item_vk:before,
	.social__item_footer.social__item_tiktok:before,
	.social__item_footer.social__item_ok:before,
	.social__item_footer.social__item_youtube:before,
	.social__item_footer.social__item_dzen:before,
	.social__item_footer.social__item_telegtam:hover:before,
	.social__item_footer.social__item_vk:hover:before,
	.social__item_footer.social__item_tiktok:hover:before,
	.social__item_footer.social__item_ok:hover:before,
	.social__item_footer.social__item_youtube:hover:before,
	.social__item_footer.social__item_dzen:hover:before {
		background-size: 30px;
	}


	.footer__menu_item {
		margin-bottom: 20px;
	}

	.footer__products_item {
		margin-bottom: 30px;
	}

	.footer__products_pic img {
		max-height: 40px;
	}

	.footer__products_galavit img {
		max-height: 30px;
	}
}
@media screen and (max-width:1024px){
	.page__header {
		padding: 15px 0;
		background: #EBEBEB;
	}

	.header__left {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header__logo {
		width: 215px;
	}

	.header__menu_items {
		display: none;
	}

	.search {
		display: none;
	}

	.modal-container {
		padding: 30px;
	}

	.search__header {
		font-size: 20px;
		margin: 0 0 15px 0;
	}

	.search__form input {
		font-size: 15px;
		width: 90%;
		padding: 10px 15px;
		border-radius: 23px;
		margin-right: 15px;
	}

	.search__form button {
		width: 30px;
		height: 30px;
		background-size: 30px;
	}

	.search__form button:hover {
		background-size: 30px;
	}

	.header__lang {
		display: none;
	}

	.main__content_items {
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 50px 0;
	}

	.main__content_item {
		width: 47%;
		max-width: 400px;
		margin-bottom: 35px;
	}

	.main__content_block {
		margin-top: -5px;
	}

	.main__content_info {
		padding: 10px 10px 0 10px;
	}

	.main__content_header {
		font-size: 16px;
	}

	.main__content_text {
		font-size: 14px;
		margin-top: 15px;
	}

	.footer {
		padding: 60px 0 30px 0;
	}

	.footer__items {
		flex-wrap: wrap;
	}

	.footer__item {
		font-size: 15px;
		margin-bottom: 40px;
		width: 47%;
	}

	.footer__contacts {
		width: 100%;
	}

	.footer__logo {
		width: 50%;
		margin-bottom: 40px;
	}

	.footer__header {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.footer__text {
		margin-bottom: 20px;
	}

	.footer__contacts_link {
		margin-left: 25px;
		margin-bottom: 25px;
	}

	.footer__contacts_link:before {
		left: -25px;
		width: 20px;
		height: 20px;
	}

	.footer__contacts_link-phone:before,
	.footer__contacts_link-email:before,
	.footer__contacts_link-address:before,
	.footer__contacts_link-phone:hover:before,
	.footer__contacts_link-email:hover:before,
	.footer__contacts_link-address:hover:before {
		background-size: 20px;
	}

	.footer .footer__social {
		margin-bottom: 30px;
	}

	.social__item_footer {
		width: 40px;
		height: 40px;
	}

	.social__item_footer:before {
		width: 40px;
		height: 40px;
	}

	.social__item_footer.social__item_telegtam:before,
	.social__item_footer.social__item_vk:before,
	.social__item_footer.social__item_tiktok:before,
	.social__item_footer.social__item_ok:before,
	.social__item_footer.social__item_youtube:before,
	.social__item_footer.social__item_dzen:before,
	.social__item_footer.social__item_telegtam:hover:before,
	.social__item_footer.social__item_vk:hover:before,
	.social__item_footer.social__item_tiktok:hover:before,
	.social__item_footer.social__item_ok:hover:before,
	.social__item_footer.social__item_youtube:hover:before,
	.social__item_footer.social__item_dzen:hover:before {
		background-size: 40px;
	}

	.footer__menu_item {
		margin-bottom: 15px;
	}

	.footer__products {
		width: 100%;
		margin-bottom: 10px;
	}

	.footer__products_items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.footer__products_item {
		margin-bottom: 30px;
	}

	.footer__products_pic img {
		max-height: 40px;
	}

	/*mobmenu*/
	.sidebar-block__top {
		overflow: hidden;
	}

	.sidebar__logo {
		width: 240px;
		display: inline-block;
	}

	.sidebar-block__close {
		float: right;
		margin-right: 40px;
		margin-top: 0;
		font-size: 15px;
		position: relative;
		cursor: pointer;
	}

	.sidebar-block__close:before {
		content: '';
		position: absolute;
		top: 0px;
		right: -28px;
		background: url('../img/close_dark.svg');
		width: 17px;
		height: 17px;
		background-size: contain;
	}

	.sidebar-block__close:hover:before {
		background: url('../img/close_dark_hover.svg');
		width: 17px;
		height: 17px;
		background-size: contain;
	}

	.mobile-hamburger {
		display: inline-block;
		width: 28px;
		height: 28px;
		background: url('../img/humburger_menu.svg') center center no-repeat;
		background-size: 28px;
		cursor: pointer;
	}

	.mobile-hamburger:hover {
		background: url('../img/humburger_menu_hover.svg') center center no-repeat;
		background-size: 28px;
	}

	.ms-menu {
		margin-top: 40px;
		font-size: 18px;
		font-weight: bold;
	}

	.ms-menu-items {
		margin-left: 0;
	}

	.ms-menu ul {
		list-style: none;
	}

	.ms-menu_item {
		margin: 10px 0;
	}

	.ms-menu_item a {
		color: #0071BC;
	}

	.ms-menu a:hover {
		color: #00a910;
	}

	.sidebar__contacts {
		margin-top: 25px;
		width: 100%;
	}

	.sidebar__contacts .search {
		display: block;
		width: 100%;
		margin: 15px 0;
	}

	.sidebar__contacts .search form {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.sidebar__contacts .search input {
		border: 1px solid #0071BC;
		color: #464646;
		overflow: hidden;
		font-size: 15px;
		width: 60%;
		padding: 8px 15px;
		border-radius: 20px;
		margin-right: 25px;
	}

	.sidebar__contacts .search button {
		width: 30px;
		height: 30px;
		overflow: hidden;
		background: url('../img/search.png') center center no-repeat;
		background-size: 30px;
		border: none;
		cursor: pointer;
	}

	.sidebar__contacts .search button:hover {
		background: url('../img/search.png') center center no-repeat;
		background-size: 30px;
	}

	.sidebar__contacts .search input::-webkit-input-placeholder {color:#707070;}
	.sidebar__contacts .search input::-moz-placeholder          {color:#707070;}
	.sidebar__contacts .search input:-moz-placeholder           {color:#707070;}
	.sidebar__contacts .search input:-ms-input-placeholder      {color:#707070;}

	.sidebar__contacts .header__lang {
		display: block;
		position: static;
		width: 100%;
		display: inline-block;
		margin: 10px 0;
		text-align: left;
	}

	.sidebar__contacts .header__lang a {
		font-size: 15px;
		text-transform: uppercase;
	}

	.sidebar__contacts .header__phone {
		width: 100%;
		display: inline-block;
		margin: 10px 0;
		text-align: center;
		font-size: 15px;
	}

	.header__phone_number {
		color: #0071bc;
		font-weight: bold;
	}

	.sidebar__contacts .footer__social {
		width: 100%;
		margin: 5px 0;
		display: flex;
		justify-content: center;
	}

	.sidebar__contacts .social__item_footer,
	.sidebar__contacts .social__item_footer:before {
		width: 50px;
		height: 50px;
		background-size: 50px;
	}
	/*end mobmenu*/
}
@media screen and (max-width:768px){
	.header {
		width: 90%;
	}

	.wrapper {
		min-width: 300px;
	}

	.page__header {
		padding: 10px 0;
	}

	.header__logo {
		width: 180px;
	}

	.slick-dots li.slick-active {
		border: 1px solid #fff;
		top: 8px;
	}

	.slick-dots li {
		width: 15px;
		height: 15px;
		margin: 0 5px;
	}

	.slick-dots li button {
		width: 15px;
		height: 15px;
		border: 1px solid #fff;
	}

	.main__content_items {
		margin: 40px 0;
		align-items: flex-start;
	}

	.main__content_item {
		width: 100%;
		max-width: 100%;
		margin-bottom: 25px;
	}

	.main__content_block {
		margin-top: -4px;
		height: auto;
	}

	.main__content_info {
		padding: 10px;
	}

	.main__content_header {
		font-size: 16px;
	}

	.main__content_text {
		font-size: 14px;
		margin-top: 10px;
	}

	.footer {
		padding: 40px 0 20px 0;
	}

	.footer__item {
		font-size: 12px;
		width: 100%;
	}

	.footer__logo {
		margin-bottom: 40px;
	}

	.footer__header {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.footer__text {
		margin-bottom: 15px;
	}

	.footer__contacts_link {
		margin-left: 35px;
		margin-bottom: 25px;
		max-width: 250px;
	}

	.footer__contacts_link:before {
		left: -35px;
		width: 25px;
		height: 25px;
	}

	.footer__contacts_link-phone:before,
	.footer__contacts_link-email:before,
	.footer__contacts_link-address:before,
	.footer__contacts_link-phone:hover:before,
	.footer__contacts_link-email:hover:before,
	.footer__contacts_link-address:hover:before {
		background-size: 25px;
	}

	.footer .footer__social {
		margin-bottom: 20px;
	}

	.social__item_footer {
		width: 40px;
		height: 40px;
	}

	.social__item_footer:before {
		width: 40px;
		height: 40px;
	}

	.social__item_footer.social__item_telegtam:before,
	.social__item_footer.social__item_vk:before,
	.social__item_footer.social__item_tiktok:before,
	.social__item_footer.social__item_ok:before,
	.social__item_footer.social__item_youtube:before,
	.social__item_footer.social__item_dzen:before,
	.social__item_footer.social__item_telegtam:hover:before,
	.social__item_footer.social__item_vk:hover:before,
	.social__item_footer.social__item_tiktok:hover:before,
	.social__item_footer.social__item_ok:hover:before,
	.social__item_footer.social__item_youtube:hover:before,
	.social__item_footer.social__item_dzen:hover:before {
		background-size: 40px;
	}

	.footer__item_menu {
		display: none;
	}

	.footer__products_items {
		justify-content: space-around;
	}

	.footer__products_item {
		margin-bottom: 30px;
		position: relative;
		width: 47%;
	}

	.footer__products_pic {
		text-align: center;
	}

	.footer__products_pic img {
		max-height: 40px;
		width: auto;
	}

	/*mobmenu*/
	.sidebar__logo {
		width: 170px;
		display: inline-block;
	}

	.ms-menu {
		font-size: 15px;
		font-weight: 500;
	}

	.ms-menu_item {
		margin: 12px 0;
	}

	.sidebar__contacts {
		margin-top: 25px;
	}

	.sidebar__contacts .search input {
		font-size: 14px;
		width: 80%;
		padding: 8px 15px;
		margin-right: 15px;
	}

	.sidebar__contacts .search button {
		width: 27px;
		height: 27px;
		background-size: 27px;
	}

	.sidebar__contacts .search button:hover {
		background-size: 27px;
	}

	.sidebar__contacts .header__lang {
		margin: 10px 0;
		text-align: center;
	}

	.sidebar__contacts .header__lang a {
		font-size: 14px;
	}

	.sidebar__contacts .header__phone {
		font-size: 14px;
	}

	.header__phone_number {
		font-weight: 500;
	}

	.sidebar__contacts .social__item_footer,
	.sidebar__contacts .social__item_footer:before {
		width: 40px;
		height: 40px;
		background-size: 40px;
	}
	/*end mobmenu*/
}