@media screen and (max-width:1600px) {
	.header__menu_item a {
		font-size: 18px;
		padding: 7px 7px;
		margin-left: 10px;
	}

	.header__menu_item a:hover {
		padding: 3px 5px;
	}

	.header__menu_item a.menu_act {
		padding: 3px 5px;
	}

	.search {
		margin: 0 20px;
	}

	.search_btn {
		width: 35px;
		height: 35px;
		background-size: 35px;
	}

	.header__lang {
		top: -25px;
	}

	.main__content_item {
		width: 24%;
	}

	.main__content_header {
		font-size: 19px;
	}

	.main__content_text {
		font-size: 18px;
	}

	.footer__item {
		font-size: 15px;
	}

	.footer__contacts {
		width: 35%;
	}

	.footer__header {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 25px;
	}

	.footer__text {
		margin-bottom: 25px;
	}

	.footer__contacts_link {
		margin-left: 35px;
		margin-bottom: 50px;
	}

	.footer__contacts_link:before {
		left: -35px;
		width: 27px;
		height: 27px;
	}

	.footer__contacts_link-phone:before,
	.footer__contacts_link-email:before,
	.footer__contacts_link-address:before,
	.footer__contacts_link-phone:hover:before,
	.footer__contacts_link-email:hover:before,
	.footer__contacts_link-address:hover:before {
		background-size: 27px;
	}

	.footer .footer__social {
		margin-bottom: 50px;
	}

	.social__item_footer {
		width: 40px;
		height: 40px;
	}

	.social__item_footer:before {
		width: 40px;
		height: 40px;
	}

	.social__item_footer.social__item_telegtam:before,
	.social__item_footer.social__item_vk:before,
	.social__item_footer.social__item_tiktok:before,
	.social__item_footer.social__item_ok:before,
	.social__item_footer.social__item_youtube:before,
	.social__item_footer.social__item_dzen:before,
	.social__item_footer.social__item_telegtam:hover:before,
	.social__item_footer.social__item_vk:hover:before,
	.social__item_footer.social__item_tiktok:hover:before,
	.social__item_footer.social__item_ok:hover:before,
	.social__item_footer.social__item_youtube:hover:before,
	.social__item_footer.social__item_dzen:hover:before {
		background-size: 40px;
	}
}