* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

table,
tr,
th,
td {
	border-collapse: collapse;
}

img{
	width: 100%;
	height: auto;
}

html {
	background: #fff;
	height: 100%;
}

body {
	font-family: 'Montserrat';
	background: #fff;
	color: #464646;
	display: flex;
	flex-direction: column;
	height: auto;
	font-style: normal;
}

.act {
	color: #00A910!important;
}

.page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: #ffffff;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.page__header {
	padding: 18px 0;
	background: #EBEBEB;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	margin: 0 auto;
}

.header__left {
	width: 242px;
}

.header__logo img {
	width: 100%;
}

.header__right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

.header__menu_items {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	font-weight: bold;
	margin: 0;
}

.header__menu_item a {
	font-size: 20px;
	text-decoration: none;
	color: #0071BC;
	padding: 7px 7px;
	margin-left: 23px;
}

.header__menu_item:first-child a {
	margin-left: 0;
}

.header__menu_item a:hover {
	border: 2px solid #00A910;
	border-radius: 33px;
	padding: 3px 5px;
}

.header__menu_item a.act_menu {
	border: 2px solid #00A910;
	color: #0071BC;
	border-radius: 33px;
	padding: 3px 5px;
}

.search {
	margin: 0 30px;
}

.search_btn {
	width: 40px;
	height: 40px;
	overflow: hidden;
	background: url('../img/search.png') center center no-repeat;
	background-size: 40px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	display: block;
}

.modal-container {
	width: 80%;
	height: auto;
	padding: 40px 60px;
	background: #fff;
}

.modal {
	width: 100%;
	height: 100%;
}

.search__header {
	font-size: 35px;
	margin: 0 0 20px 0;
}

.search__form form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.search__form input {
	border: 1px solid #0071BC;
	color: #464646;
	overflow: hidden;
	font-size: 20px;
	width: 90%;
	padding: 10px 25px;
	border-radius: 33px;
	margin-right: 35px;
}

.search__form button {
	width: 45px;
	height: 45px;
	overflow: hidden;
	background: url('../img/search.png') center center no-repeat;
	background-size: 45px;
	border: none;
	cursor: pointer;
}

.search__form button:hover {
	background: url('../img/search.png') center center no-repeat;
	background-size: 45px;
}

.search__form input::-webkit-input-placeholder {color:#707070;}
.search__form input::-moz-placeholder          {color:#707070;}
.search__form input:-moz-placeholder           {color:#707070;}
.search__form input:-ms-input-placeholder      {color:#707070;}

.header__lang {
	position: absolute;
	top: -20px;
	right: -20px;
}

.header__lang a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	font-size: 13px;
	color: #0071BC;
	margin: 0 2px;
}

.header__lang a:hover {
	color: #00A910;
}

.header__lang a:last-child {
	margin: 0;
}

.slide {
	width: 100%;
}

.slide picture,
.slide img {
	width: 100%;
	height: 100%;
}

.slick-dots {
	position: absolute;
	bottom: 12px;
	display: inline-block;
	list-style: none;
	text-align: center;
	margin: 0;
	left: 50%;
	transform: translateX(-50%);
}

.slick-dots li.slick-active {
	border: 2px solid #fff;
	background: #fff;
	top: 10px;
}

.slick-dots li.slick-active button {
	display: none;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 10px;
	border-radius: 50%;
	cursor: pointer;
}

.slick-dots li:first-child {
	margin-left: 0;
}

.slick-dots li:last-child {
	margin-right: 0;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	background: transparent;
	outline: none;
	border: 2px solid #fff;
	border-radius: 50%;
}

.main__content_items {
	display: flex;
	justify-content: space-between;
	align-content: stretch;
	margin: 100px 0;
}

.main__content_item {
	width: 23%;
	max-width: 393px;
	position: relative;
}

.main__content_block-name {
	font-size: 11px;
	font-weight: bold;
	background-color: #EBEBEB;
	margin-bottom: -5px;
}

.main_news {
	color: #0071BC;
}

.main_health {
	color: #00a910;
}

.main__content_block {
	width: 100%;
	background-color: #EBEBEB;
	padding: 1px;
	margin-top: -2px;
	height: 100%;
}

.main__content_img {
	width: 100%;
	overflow: hidden;
}

.main__content_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.main__content_item:hover .main__content_header {
	color: #00a910;
}

.main__content_item:hover .main__content_img img {
	transform: scale(1.1);
}

.main__content_info {
	padding: 10px 10px 0 10px;
}

.main__content_header {
	color: #464646;
	font-size: 23px;
	font-weight: bold;
	margin: 0;
}

.main__content_text {
	font-weight: 500;
	font-size: 20px;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	margin: 15px 0 0 0;
}

.mask {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.footer {
	background: #0065A5;
	padding: 90px 0 30px 0;
}

.footer * {
	color: #fff;
}

.footer__items {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	color: #fff;
}

.footer__item * {
	font-size: 19px;
}

.footer__contacts {
	width: 34%;
}

.footer__logo {
	width: 60%;
	margin-bottom: 80px;
}

.footer__logo img {
	width: 100%;
	height: 100%;
}

.footer__header {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 25px;
}

.footer__text {
	margin-bottom: 25px;
}

.footer__contacts_link {
	display: inline-block;
	margin-left: 45px;
	margin-bottom: 50px;
	position: relative;
	max-width: 210px;
}

.footer__contacts_link:before {
	content: '';
	position: absolute;
	left: -45px;
	top: 50%;
	transform: translate(0, -50%);
	width: 34px;
	height: 34px;
}

.footer__contacts_link-phone:before {
	background: url('../img/footer_contacts/Phone.png') center center no-repeat;
	background-size: 34px;
}

.footer__contacts_link-email:before {
	background: url('../img/footer_contacts/email.png') center center no-repeat;
	background-size: 34px;
}

.footer__contacts_link-address:before {
	background: url('../img/footer_contacts/location.png') center center no-repeat;
	background-size: 34px;
}

.footer__contacts_link-phone:hover:before {
	background: url('../img/footer_contacts/Phone-blue.png') center center no-repeat;
	background-size: 34px;
}

.footer__contacts_link-email:hover:before {
	background: url('../img/footer_contacts/email-blue.png') center center no-repeat;
	background-size: 34px;
}

.footer__contacts_link-address:hover:before {
	background: url('../img/footer_contacts/location-blue.png') center center no-repeat;
	background-size: 34px;
}

.footer .footer__social {
	justify-content: flex-start;
	margin-left: 0;
	margin-bottom: 50px;
}

.social__item_footer {
	display: inline-block;
	text-decoration: none;
	position: relative;
	width: 50px;
	height: 50px;
}

.social__item_footer:before {
	content: '';
	width: 50px;
	height: 50px;
	position: absolute;
	display: inline-block;
}

.social__item_footer:last-child {
	margin-right: 0;
}

.social__item_footer.social__item_telegtam:before {
	background: url('../img/social_icons/tg-white.png') center center no-repeat;
	background-size: 50px;
}

.social__item_footer.social__item_vk:before {
	background: url('../img/social_icons/vk-white.png') center center no-repeat;
	background-size: 50px;
}

.social__item_footer.social__item_tiktok:before {
	background: url('../img/social_icons/tk-white.png') center center no-repeat;
	background-size: 50px;
}

.social__item_footer.social__item_ok:before {
	background: url('../img/social_icons/ok-white.png') center center no-repeat;
	background-size: 50px;
}

.social__item_footer.social__item_youtube:before {
	background: url('../img/social_icons/yt-white.png') center center no-repeat;
	background-size: 50px;
}

.social__item_footer.social__item_dzen:before {
	background: url('../img/social_icons/yz-white.png') center center no-repeat;
	background-size: 50px;
}

.social__item_footer.social__item_telegtam:hover:before {
	background: url('../img/social_icons/tg.png') center center no-repeat;
	background-size: 50px;
}

.social__item_footer.social__item_vk:hover:before {
	background: url('../img/social_icons/vk.png') center center no-repeat;
	background-size: 50px;
}

.social__item_footer.social__item_tiktok:hover:before {
	background: url('../img/social_icons/tk.png') center center no-repeat;
	background-size: 50px;
}

.social__item_footer.social__item_ok:hover:before {
	background: url('../img/social_icons/ok.png') center center no-repeat;
	background-size: 50px;
}

.social__item_footer.social__item_youtube:hover:before {
	background: url('../img/social_icons/yt.png') center center no-repeat;
	background-size: 50px;
}

.social__item_footer.social__item_dzen:hover:before {
	background: url('../img/social_icons/yz.png') center center no-repeat;
	background-size: 50px;
}

.footer__menu_items {
	margin-left: 0;
	list-style: none;
}

.footer__menu_item {
	margin-left: 0;
	margin-bottom: 25px;
}

.footer__products_item {
	margin-bottom: 50px;
	position: relative;
}

.footer__products_pic img {
	max-height: 60px;
	width: auto;
}

/*mobmenu*/
.mobile-hamburger {
	display: none;
}

.sidebar {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	overflow: auto;
	width: 100%;
	height: 100%;
	transition: transform 500ms ease-in-out 0ms;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	background-color: #fff;
	color: #0071BC;
	padding: 25px;
}

.sidebar_opened {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	width: 100%;
}

.sidebar-overlay {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: none;
	height: 100%;
}

/*end mobmenu*/
/*company page*/
.about__img {
	width: 100%;
}

.about__img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	margin: 0;
}

.our__values {
	margin-top: 35px;
	margin-bottom: 150px;
	text-align: center;
}

.our__values h3 {
	text-align: left;
}

.our__values_img {
	width: 80%;
}

.our__values_link {
	position: relative;
	border: 1px solid #707070;
	border-radius: 30px;
	padding: 28px 60px;
	display: block;
	margin: 100px auto 0 auto;
	text-align: center;
	width: 300px;
	line-height: 25px;
}

.our__values_pptx {
	font-size: 20px;
	font-weight: bold;
	color: #8ABF3E;
}

.our__values_link:hover {
	border: 1px solid #8ABF3E;
	background-color: #8ABF3E;
	transition: 500ms linear;
}

.our__values_link:hover .our__values_pptx {
	color: #fff;
	transition: 500ms linear;
}

.digitals__block {
	background: #0071BC;
	color: #fff;
	padding: 35px 0;
}

.digitals__header {
	text-align: center;
	color: #fff;
	margin-top: 0;
	font-size: 60px;
}

.slider__digitals_block {
	width: 100%;
}

.slider__digitals {
	margin-bottom: 50px;
}

.slide__year {
	text-transform: uppercase;
	font-size: 40px;
}

.slider__digitals_block .slick-current .slide__year {
	margin-top: -20px;
	font-size: 60px;
	font-weight: bold;
	display: block;
}

.slide__content {
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
	width: 100%;
	font-size: 40px;
	font-weight: 500;
}

.production__block {
	margin-top: 150px;
	padding-bottom: 40px;
}

.company__production_items {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin: 40px 0;
}

.company__production_item {
	width: 24%;
}

.production_gmp {
	width: 50%;
	margin: 40px 0;
}

.company__production_header {
	text-align: center;
	margin-top: 100px;
}

.company__production-year_items {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	width: 80%;
	margin: 0 auto;
}

.license__block {
	display: flex;
	justify-content: space-between;
	margin-top: 250px;
	margin-bottom: 100px;
}

.license__item_text {
	font-size: 17px;
	color: #0071BC;
	font-weight: 300;
	margin-bottom: 10px;
	text-decoration: none;
}

.license__item {
	width: 47%;
	position: relative;
}

.production__license {
	width: 100%;
	margin: 0 auto;
}

.company__files {
	margin: 20px 0;
}

.company__files_links {
	text-align: center;
}

.company__files_link {
	font-weight: bold;
	margin: 10px 0;
}

.company__files_link a {
	text-decoration: none;
	font-size: 30px;
	color: #0071BC;
}

.company__files_link .green__text,
.company__files_link a:hover {
	color: #00A910;
}

.green__text {
	color: #00A910;
}

.company__partners_items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 90%;
	margin: 200px auto;
}

.company__partners_item {
	width: 22%;
	position: relative;
	margin-bottom: 70px;
}

.company__partners_item:hover {
	transform: scale(1.1);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.company__partners_item img {
	width: 100%;
}

/*end company page*/